<style> @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); </style>


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sidebar_bg: #000;
    --content_bg: #141922;
    --player_bg: #282828;
    --shadow_tx: #878787;
    --baisc_tx: #c1c1c1;
    --highlight: #D2D2D2;
    --highlight_tx: #fff;
    --active: #9AE32D;
    --cover: (0, 0, 0, 0.5);

    --small-i:16px;
}

body{
    height: 100vh;
    color:var(--baisc_tx);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h6{
    font-size: 8px;
    color: var(--highlight_tx);
    margin: 0;
}

h5{
    font-size: 8px;
    margin: 0;
}

h4{
    font-weight: 600;
    font-size: 12px;
    color: var(--highlight_tx);
    margin: 0;
}

h3{
    font-size: 16px;
    font-weight: 600;
    color: var(--shadow_tx);
    padding-left:12px ;
    margin: 0;
}

h2{
    font-size: 12px ;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--highlight_tx);
    margin: 0;
}


figure{
    margin: 0;
}


a {
    text-decoration: none;
    color: currentColor;
}

menu,
ul,
ol,
li{
    list-style-type: none;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}




/* #######################################################

LAYOUT RULES

####################################################### */

.row{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.grow{
    flex-grow: 100;
}


.player{
    flex-shrink: 0;
    background-color: var(--player_bg);
}

.main-container{
    flex-grow: 1;
    padding: 0;
    overflow: hidden;
}

.sidebar{
    flex-basis: 230px;
    background-color: var(--sidebar_bg);
}

.content{
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--content_bg);
}

.container-nav{
    max-width: 680px;
    margin: 0 auto;
}

.container{
    margin: 0 auto;
}


/* ALIGN AND SPACING MODIFYERS */

.space--between{
    justify-content:space-between;
}

.center{
    align-items: center;
}

.baseline{
    align-items: baseline;
}

.cross--center{
    justify-content: center;
}

.cross--direction{
    flex-direction: column;
}

.spacing--small{
    padding: 12px;
}

.spacing--verysmall{
    padding: 0 24px;
}

.spacing--li{
    padding: 6px 0px;
}

.spacing--li--medium{
    padding: 11px 0px;
}


/* MEDIAQUERY LAYOUT */

@media screen and (max-width:552px){

    .sidebar{
        max-width: 50px;

    }

}


/* #######################################################

PLAYER RULES

####################################################### */

.player__volume,
.player__song{
    width: 230px;
}

.player__timeline{
    flex-basis: 40%;
    max-width: 560px;
}


.song__image img{
    height: 42px;
}

.song__image{
    margin: 0;
    flex-shrink: 0;
}


.progress-bar{
    min-width: 50px;
    border-radius: 50px;
    background-color: var(--shadow_tx);
}

.progress-bar__progress{
    height: 4px;
    width: 20%;
    border-radius: 50px;
    background-color: var(--baisc_tx);
}

.player .list-menu__item a{
    font-size: 16px;
    margin-right: 16px;
}

#no-space{
    margin: 0;
}

.size--dobled{
    font-size: calc(var(--small-i)*2);
    margin: 0 16px;
}

.timeline__time{
    padding-top: 4px;
}

.timeline__commands :first-child{
    margin-bottom: 0px;
}

.icon.icon--disabled{
    color: var(--shadow_tx);
}

.icon.icon--text{
    color: var(--baisc_tx);
}



.icon.icon--medium{
    line-height: 36px;
    font-size: 24px;
    margin-right: 8px;
}

.icon{
    color: var(--highlight_tx);
}

.icon.icon--big{
    font-size: 46px;
    height: 46px;
    padding:0;
    margin: 0;
}

.list-menu__item.grow{
    padding-top: 16px;
    margin-right: 12px;
}

/* MEDIAQUERY PLAYER */

@media screen and (max-width:552px){

    .player__song .row :last-child {
        flex-direction: column;
    }

}



/* #######################################################

SIDEBAR RULES

####################################################### */
.sidebar{
    padding-bottom:12px;
}

.sidebar .row{
    height: 100%;
}

.sidebar ul{
    margin: 12px 0;
}


.logo__extended{
    height: 100%;
    max-height: 42px;
    object-fit: cover;
    margin: 0;
    padding: 16px 0;
}

.logo__small{
    display: none;
}

.sidebar__cta{
    margin-top: auto;
}

.active {
    border-left: var(--active) solid 4px;
}

.icon-svg{
    height: 24px;
    padding: 0 12px 0 24px;
}

.active .icon-svg{
    margin-left: -4px;
}

.sidebar .active--tx {
    color: var(--highlight_tx);
}


.sidebar a h4{
    color: var(--shadow_tx);
}

.sidebar__cta img{
    height: 12px;
    padding: 0;
    margin-right: 12px;
}

.border{
    border-bottom: 1px solid var(--shadow_tx);
}


.sidebar__profile img{
    background-color: var(--shadow_tx);
    height: 26px;
    width: 26px;
    border-radius: 15px;
    padding: 0;
}


/* MEDIAQYERY SIDEBAR */

@media screen and (max-width:552px){

    .sidebar{
        margin-bottom:0;
    }

    .sidebar__nav{
        padding: 6px 0;
    }

    .sidebar ul{
        margin: 0;
    }

    .sidebar li{
        padding: 6px 0;
    }

    .sidebar__logo.spacing--verysmall{
        margin: 6px auto;
        align-content: center;
    }

    .sidebar .logo__small{
        display: block;
        max-width: 50%;
        padding-left: 25%;
    }

    .sidebar .sidebar__logo.spacing--verysmall{
        padding: 0px;
    }

    .sidebar .logo__extended{
        display: none;
    }

    .sidebar__article{
        display: none;
    }


    .sidebar .active{
        border: none;
        margin: 0px;
        flex-grow: 1;
        text-align: center;
    }

    .active .icon-svg{
        margin-left: 0;
    }

    .sidebar .spacing--verysmall {
        padding: 14px;
    }

    .sidebar .spacing--small{
        padding: 14px;
    }

    .sidebar .spacing--li{
        padding: 0px;
    }

    .sidebar figure .row{
        align-items: center;
    }

    .sidebar figure img{
        display: block;
        flex-grow: 1;
    }

    .sidebar .icon-svg{
        padding:0;
        font-size: 22px;
        line-height: 22px;
    }

    .sidebar .sidebar__cta .icon-svg{
        height: 12px;
    }

    .sidebar .center{
        align-items: center;
        justify-items: center;
    }

    .sidebar .border{
        border: none;
    }

    .sidebar h3,
    .sidebar h4,
    .sidebar h5{
        display: none;
    }

    .sidebar img,
    .sidebar .icon{
        margin: 0;

    }

    .sidebar figure :last-of-type{
        width: 50px;
    }

    .sidebar li a:last-of-type{
        display: none;
    }

    .sidebar__cta img{
        flex-grow: 1;
    }

    .sidebar__profile.spacing--verysmall{
        padding: 0;
        padding-left: 12px;
    }




}


/* #######################################################

CONTENT RULES

####################################################### */

.content{
    position: relative;
}

.content__cta{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 26px 4px;
}

.content__cta .row{
    justify-content: flex-end;
}

.content__cta .button{
    line-height: 46px;
    padding:0 42px;
    border: 1px solid var(--highlight);
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
    text-transform:uppercase;
}

.content__cta{
    position: sticky;
    top: 0;
}

.content ul{
    gap: 12px;
    justify-content: center;
    align-items: flex-start;
}

.content li a{
    padding: 6px;
    align-items: flex-start;
    gap: 6px;
}

.card{
    flex-basis: 180px;
}

.nav-active {
    height: 3px;
    width: 36px;
    margin: auto;
    background-color: var(--active);
}


/* MEDIAQUERY PER CONTENT */


@media screen and (max-width:552px) {

    .card{
        min-width:210px;
    }

}




/* #######################################################

debug RULES

####################################################### */

.content div{
    border: 2px solid red;
    -padding: 12px;
    -min-height: 10px;
}

.debug{
    border: salmon dashed 2px;
    padding: 12px;
}


