*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sidebar_bg: #000;
    --content_bg: #141922;
    --player_bg: #282828;
    --shadow_tx: #5A5A5A;
    --baisc_tx: #c1c1c1;
    --highlight: #D2D2D2;
    --highlight_tx: #fff;
    --active: #9AE32D;
    --cover: (0, 0, 0, 0.5);
}

body{
    height: 100vh;
    color:var(--baisc_tx);
}


a {
    text-decoration: none;
    color: currentColor;
}

menu,
ul,
ol,
li{
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    aspect-ratio: 1/1;
}


/* #######################################################

LAYOUT RULES

####################################################### */

.row{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}


.player{
    flex-shrink: 0;
    background-color: var(--player_bg);
}

.main-container{
    flex-grow: 1;
    padding: 0;
}

.sidebar{
    flex-basis: 230px;
    background-color: var(--sidebar_bg);
}

.content{
    flex-grow: 1;
    background-color: var(--content_bg);
}


/* ALIGN AND SPACING MODIFYERS */

.space--between{
    justify-content:space-between;
}

.center{
    align-items: center;
}

.cross--center{
    justify-content: center;
}

.cross--direction{
    flex-direction: column;
}


/* MEDIAQUERY LAYOUT */

@media screen and (max-width:552px){

    .sidebar{
        flex-basis: 50px;

    }

}


/* #######################################################

PLAYER RULES

####################################################### */

.player__volume,
.player__song{
    max-width: 230px;
}

.player__timeline{
    flex-basis: 40%;
    max-width: 580px;
}


/* #######################################################

debug RULES

####################################################### */

-div{
    padding: 24px;
    border: 2px solid red;
}

.debug{
    border: salmon dashed 2px;
}