<style> @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); </style>


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sidebar_bg: #000;
    --content_bg: #141922;
    --player_bg: #282828;
    --shadow_tx: #878787;
    --baisc_tx: #c1c1c1;
    --highlight: #D2D2D2;
    --highlight_tx: #fff;
    --active: #9AE32D;
    --cover: (0, 0, 0, 0.5);

    --small-i:16px;
}

body{
    height: 100vh;
    color:var(--baisc_tx);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h6{
    font-size: 8px;
    color: var(--highlight_tx);
    margin: 0;
}

h5{
    font-size: 8px;
    margin: 0;
}

h4{
    font-weight: 600;
    font-size: 12px;
    color: var(--highlight_tx);
    margin: 0;
}

figure{
    margin: 0;
}


a {
    text-decoration: none;
    color: currentColor;
}

menu,
ul,
ol,
li{
    list-style-type: none;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}




/* #######################################################

LAYOUT RULES

####################################################### */

.row{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.grow{
    flex-grow: 100;
}


.player{
    flex-shrink: 0;
    background-color: var(--player_bg);
}

.main-container{
    flex-grow: 1;
    padding: 0;
}

.sidebar{
    flex-basis: 230px;
    background-color: var(--sidebar_bg);
    overflow: hidden;
}

.content{
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--content_bg);
}


/* ALIGN AND SPACING MODIFYERS */

.space--between{
    justify-content:space-between;
}

.center{
    align-items: center;
}

.cross--center{
    justify-content: center;
}

.cross--direction{
    flex-direction: column;
}

.spacing--small{
    padding: 12px;
}




/* MEDIAQUERY LAYOUT */

@media screen and (max-width:552px){

    .sidebar{
        flex-basis: 50px;

    }

}


/* #######################################################

PLAYER RULES

####################################################### */

.player__volume,
.player__song{
    width: 230px;
}

.player__timeline{
    flex-basis: 40%;
    max-width: 560px;
}


.song__image img{
    height: 42px;
}

.song__image{
    margin: 0;
    flex-shrink: 0;
}


.progress-bar{
    display: relative;
    height: 4px;
    min-width: 50px;
    border-radius: 50px;
    background-color: var(--shadow_tx);
}

.progress-bar__progress{
    height: 4px;
    position: absolute;
    width: 2%;
    border-radius: 50px 0px 0px 50px;
    background-color: var(--baisc_tx);
}

.player .list-menu__item a{
    font-size: 16px;
    margin-right: 16px;
}

#no-space{
    margin: 0;
}


.size--dobled{
    font-size: calc(var(--small-i)*2);
    margin: 0 16px;
}

.timeline__time{
    padding-top: 4px;
}

.timeline__commands :first-child{
    margin-bottom: 0px;
}

.icon.icon--disabled{
    color: var(--shadow_tx);
}

.icon{
    color: var(--highlight_tx);
}

.list-menu__item.grow{
    padding-top: 16px;
    margin-right: 12px;
}

/* MEDIAQUERY PLAYER */

@media screen and (max-width:552px){

    .player__song .row :last-child {
        flex-direction: column;
    }

}



/* #######################################################

SIDEBAR RULES

####################################################### */


.sidebar .row{
    height: 100%;
}


.logo__extended{
    height: 100%;
    max-height: 42px;
    object-fit: cover;
    margin: 0;
}

.logo__small{
    display: none;
}

.sidebar__cta{
    margin-top: auto;
}


/* MEDIAQYERY SIDEBAR */

@media screen and (max-width:552px){

    .sidebar .logo__extended{
        display: none;
    }

    .sidebar .logo__small{
        display: block;
    }

}



/* #######################################################

debug RULES

####################################################### */

-div{
    border: 2px solid red;
}

.debug{
    border: salmon dashed 2px;
    padding: 12px;
}